
/* compilação de styles*/
@import url(menu-fixo.css);
@import url(primeira-dobra.css);
@import url(carrosel.css);
@import url(container-conteudo.css);
@import url(referencia.css);

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{

    /* CORES TEMA PADRÃO */
    --title: #48640e;
    --bg-container: #D9D9D9;
    --icon-theme: url('../img/icons/modo-claro.svg');
    --bg-color: #F0F0F0;
    --color:#000;
    --bg-color-body: #D9D9D9;

    /*menu*/
    --bg-color-menu: #202020;
    --color-branco: #fff;
    --tma-menu: 50px; /*tamanho do menu fixo*/

    /* primeira dobra */
    --primeira-dobra-img: url('../img/background/primeira-dobra\ claro.jpg');
    --primeira-dobra-circuito: #333;
    --primeira-dobra-verde: #6B8E23;

}

:root:has(#modo-theme:checked){
    /*CORES TEMA CONTRASTE*/
    --title: #fff;
    --bg-container: #000B24;
    --icon-theme: url('../img/icons/modo-escuro.svg');
    --bg-color: #000;
    --color: #FFFF00;
    --bg-color-body: #000B24;

    /* primeira dobra */
    --primeira-dobra-img: url('../img/background/primeira-dobra\ escuro.jpg');
    --primeira-dobra-circuito: #fff;
    --primeira-dobra-verde: #B8E986;
    
}

*{
    padding: 0;
    margin: 0;
}

body{
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color-body);
}

.no-select {
  user-select: none;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

@media (max-width: 768px) {
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
}