
/* compilação de styles*/
@import url(menu-fixo.css);
@import url(primeira-dobra.css);
@import url(carrosel.css);

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
    --bg-color-menu: #202020;
    --color-branco: #fff;

    /*tamanho do menu fixo*/
    --tma-menu: 50px;


    /* CORES TEMA CLARO */
    --icon-theme: url('../img/icons/modo-claro.svg');
    --bg-color: #F0F0F0;

    /* primeira dobra */
    --primeira-dobra-img: url('../img/background/primeira-dobra\ claro.jpg');
    --primeira-dobra-circuito: #333;
    --primeira-dobra-da-terra: #6B8E23;

    /* carrosel */
    --carrosel-bg-colocar: #D9D9D9;
    
    
    
}

:root:has(#modo-theme:checked){
    /*CORES TEMA ESCURO*/
    --icon-theme: url('../img/icons/modo-escuro.svg');
    --bg-color: #0B1D3E;

    /* primeira dobra */
    --primeira-dobra-img: url('../img/background/primeira-dobra\ escuro.jpg');
    --primeira-dobra-circuito: #fff;
    --primeira-dobra-da-terra: #B8E986;

    /* carrosel */
    --carrosel-bg-colocar: #000B24;
    
    
    
}

*{
    padding: 0;
    margin: 0;
}

body{
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

.no-select {
  user-select: none;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

@media (max-width: 768px) {
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
}